<h1>New Page</h1>

<%= form_for @a , :url=>{:action=>'create'}, :html => { :multipart=> true} do |f| %>

    <p>Name<%=f.text_field :name%></p>

    <p>Describe<%=f.text_field :describe%></p>
    
    <p>Upload<%= f.file_field:avatar%></p>

    <%= f.submit%>
<%end  %>

<%=link_to 'back',image_index_path %>